$base-font-color: #555555
$lighter-font-color: #eeeeee

$small-font-size: 14px
$normal-font-size: 16px
$big-font-size: 18px
$bigger-font-size: 20px
$biggest-font-size: 22px

.container
  display: flex
  flex-direction: column
  width: 100%
  color: $base-font-color
